/* You can add global styles to this file, and also import other style files */
.m-t-10-0{
    margin: 10px 0; 
    .has-addons{
        .full-width{
            width: 100%;
        }
    }
}

.m-t-10{
    margin: 10px;
}